// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
#welcome-bg {
  background-image: url('https://www.tuchuang001.com/images/2017/04/21/business-man-and-woman-handshake-in-work-office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 270px;
  color: #fff;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
